<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uploaded Images</title>
</head>
<body>
<h1>Uploaded Images</h1>
<div>
    <button id="toggleReload">Toggle Auto-Reload</button>
</div>
<div>
    {% if images %}
    <ul>
        {% for image in images %}
        <img src="{{ url_for('uploaded_file', filename=image) }}" alt="{{ image }}" width="200"/>
        {% endfor %}
    </ul>
    {% else %}
    <p>No images uploaded yet.</p>
    {% endif %}
</div>
<script>
    let autoReload = true;
    const interval = setInterval(function () {
        if (autoReload) {
            window.location.reload();
        }
    }, 5000); // Atualiza a cada 5 segundos

    document.getElementById('toggleReload').addEventListener('click', function () {
        autoReload = !autoReload;
        this.textContent = autoReload ? 'Disable Auto-Reload' : 'Enable Auto-Reload';
    });
</script>
</body>
</html>

